<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Invisual.Jira.Tasky.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Invisual.Jira.Tasky.Properties.Settings>
            <setting name="JiraAccessToken" serializeAs="String">
                <value/>
            </setting>
        </Invisual.Jira.Tasky.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="JiraApiConsumerKey" value="tasky"/>
		<add key="JiraApiConsumerSecret" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA5WElnnAPSIJPNWBI4kZH3QCq/BAMLpiK7RWvtLsEGPhq7yvHLNgwb0gEXA30K0Qrc+5bwswufM41j36u5ChEJEBpiVXVYV4cRDfWutw2k9yAt63WI+M+6bwpcPhMZz5qNTLLXLGHVYjL8bwz5Xku3rh/EEZp+t39lbzQ/2oE46VYJh+Ob4dS2sX/AIYscFjf5p+DPG3ecaUlTSaVko4HvH2Z6U8EF0CX4HchTSsB5yvRWlNS0tdH2yDReAJzuJ0Vqw3jyV+VszebFe4aQdIO6WWHOsWiFkw8i5e/hThh8jj+hEiaiMwiM/D+i/VZv6sF12uH6wKDGuxLvNpXq79KdQIDAQAB"/>
		<add key="JiraApiRequestTokenUrl" value="https://rippleffect.atlassian.net/plugins/servlet/oauth/request-token"/>
		<add key="JiraApiAuthorizationUrl" value="https://rippleffect.atlassian.net/plugins/servlet/oauth/authorize"/>
		<add key="JiraApiAccessTokenUrl" value="https://rippleffect.atlassian.net/plugins/servlet/oauth/access-token"/>
		<add key="JiraApiSigningCertificatePath" value="jira.pfx"/>
		<add key="JiraApiSigningCertificatePassword" value="password"/>
		
		<add key="JiraBaseUri" value="https://rippleffect.atlassian.net/"/>
	</appSettings>
</configuration>
