<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Invisual.AppCore" version="3.0.5886.24322" targetFramework="net452" />
  <package id="Invisual.Rest" version="3.0.5886.24323" targetFramework="net452" />
  <package id="Invisual.Rest.RestSharp" version="3.0.5886.24324" targetFramework="net452" />
  <package id="Invisual.Serialization" version="3.0.5886.24322" targetFramework="net452" />
  <package id="Invisual.Serialization.Json.Net" version="3.0.5886.24324" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" requireReinstallation="true" />
</packages>